#preso,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: auto;
}

pre.sh_sourceCode {
  font-size: 2.5em;
  line-height: 1.5em;
}

code {
  background-color: #eee;
  padding: 0.15em 0.4em;
  border-radius: 0.5em;
  border: 1px solid #666;
}

h2 {
  padding-left: 40px;
  font-weight: bold;
  text-align: left;
}

a {
  text-decoration: none;
}

.slide {
  padding-bottom: 6em;
}


.content > p {
  font-size: 48px;
}
